* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1.1s;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}
.locatioan {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locatioan-address {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #666666;
}

.top-right-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.valyute-language {
  display: flex;
  gap: 20px;
}

.valyute-language {
  border: none;
  background: none;
}

.valyute-language:hover {
  cursor: pointer;
}

.valyute-language:focus {
  overflow: hidden;
}

.sign-link {
  color: #666666;
  text-decoration: none;
  font-weight: 700;
  transition: all 1.1s;
}

.sign-link:hover {
  cursor: pointer;
  color: #2c742f;
}

.top-bar-hr {
  height: 1px;
  color: grey;
}
/* search area */

.search-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
/* .header-logo {
} */
.logo-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -3%;
  color: #002603;
}
.search-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coach {
  height: 24px;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid;
  height: 45px;
  width: 400px;
  padding: 12px;
  gap: 8px;
  border-radius: 6px 0 0 6px;
}
/* .search-icon {
} */

.search-text-input {
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #808080;
  width: 100%;
}
.search-text-input:focus {
  outline: none;
}

.search-btn {
  height: 45px;
  width: 98px;
  background: #00b207;
  color: #fff;
  border: none;
  border-radius: 0 6px 6px 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}

.search-btn:hover {
  background: none;
  border: 0.5px solid grey;
  color: #00b207;
  cursor: pointer;
}

.card-favorites {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}
.like-btn {
  background: none;
  border: none;
}

.like-btn:hover {
  cursor: pointer;
}

.card-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card-link {
  position: relative;
}
.card-indicator {
  position: absolute;
  right: -5px;
  background: #2c742f;
  height: 20px;
  width: 20px;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
}
/* .card-description {
} */
.card-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #4d4d4d;
}

.total-cart {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1a1a1a;
}

/* menu bar */

.active {
  color: #fff;
}

.menu-bar {
  background: #000;
  width: 100%;
  color: #fff;
}

.menu-bar-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.menu-title {
  display: flex;
  gap: 32px;
}
.menu-sellector-style {
  background: none;
  color: #999999;
  border: none;
  font-size: 1rem;
}

.menu-sellector-style:focus {
  overflow: hidden;
}

.menu-sellector-style:focus-visible,
.menu-sellector-style:hover {
  cursor: pointer;
}

.about-us,
.contact-us {
  text-decoration: none;
  color: #999999;
}
.phone-num {
  display: flex;
  align-items: center;
  gap: 8px;
}
.phone-icon {
  height: 28px;
}

.phone-icon:hover {
  cursor: pointer;
}
.copy-num {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.timer {
  display: flex;
  align-items: start;
  text-align: center;
}

/* hero section */

.hero {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 72px auto;
  padding: 68px 60px 97px;
  border: 1px solid;
  border-radius: 10px;
  background-image: url(../pictures/products/hero.jpg);
  background-size: contain;
  background-position: center;
  background-size: cover;
}

.hero-desk {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.hero-desk-dates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.desk-title {
  color: #fff;
}
.desk-title-lable {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.desk-title-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
}
.timer {
  display: flex;
  gap: 8px;
  color: #999999;
}
/* .days {
} */
.time {
  color: #00b207;
  font-size: 28px;
  font-weight: 800;
}
/* .days-input {
} */
.time-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
/* .hours {
}
.hours-input {
}
.mins {
}
.mins-input {
}
.sec {
}
.sec-input {
} */

.hero-desk-btn {
  margin-top: 32px;
  width: 162px;
  height: 45px;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 32px;
  gap: 12px;
  opacity: 1;
  border-radius: 43px;
  background: #00b207;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.hero-desk-btn:hover {
  cursor: pointer;
  background: #bfe7a9;
  color: #00b207;
  transform: scale(1.01);
}

/* hero section pin massage */

.hero-sec-pin {
  position: absolute;
  top: 65px;
  left: 472px;
  background: #ff8a00;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  color: #fff;
}
.hero-sec-pin-indicator {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
.hero-sec-pin-key {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}

/* main */

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* main box */

.main-box {
  width: 312px;
  height: 407px;
  border: 1px solid grey;
  border-radius: 8px;
  overflow: hidden;
}

.main-box-display {
  position: relative;
}

.main-box-active-bar {
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: -80px;
  right: 20px;
  transition: all 1.1s ease;
  opacity: 0;
}

.activebar-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: -31px 11px 100px -4px rgba(148, 148, 148, 0.46);
}

.main-box-display-tag {
  position: absolute;
  width: 80px;
  height: 27px;
  opacity: 1;
  top: 16px;
  left: 16px;
  border-radius: 4px;
  gap: 4px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  background: #ea4b48;
  color: #fff;
}

.main-box-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding: 16px;
}
/* .main-box-desc-title {
} */
.main-box-name {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #4d4d4d;
}
.main-box-price {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1a1a1a;
}

.main-box-old-price {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #999999;
}

/* .main-box-popularity {
} */
.main-box-desc-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
}

.main-box-desc-btn:hover {
  background: #00b207;
  cursor: pointer;
  color: #fff;
}

.main-box:hover {
  cursor: pointer;
  border: 1px solid #00b207;
  box-shadow: 0px 3px 49px -12px rgba(0, 255, 12, 1);
}

.main-box:hover .main-box-active-bar {
  top: 20px;
  opacity: 1;
}

.activebar-btn:hover {
  cursor: pointer;
}

.page-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
  gap: 5px;
}

.page-num,
.next-page,
.return-page {
  border: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-num:hover,
.next-page:hover,
.return-page:hover {
  background: #57cb5b;
  cursor: pointer;
}

.next-page:hover {
  transform: translateX(5px);
}
.return-page:hover {
  transform: translateX(-5px);
}

.active-page {
  background: #00b207;
  color: #fff;
}

/* subcribe */

.subcribe {
  background: #f7f7f7;
  padding: 40px;
}

.subcribe-con {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.subcribe-desc {
  max-width: 448px;
}
.subcribe-deck-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1a1a1a;
}
.subcide-desc-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #999999;
}
.subcribe-input {
  width: 536px;
  height: 52px;
  display: flex;
  align-items: center;
  border: 0.5px solid #f7f7f7;
  background: #fff;
  border-radius: 46px;
  overflow: hidden;
}

#input-email {
  border: none;
  width: 100%;
  padding: 14px 24px;
}
#input-email:focus {
  outline: none;
}

.submit-btn {
  padding: 16px 40px;
  border-radius: 46px;
  background-color: #00b207;
  border: none;
  color: #fff;
  height: 52px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: all 1.1s;
}

.submit-btn:hover {
  cursor: pointer;
  background: #1b711e;
}

/* media links */

.media {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bx {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.active-media {
  background: #00b207;
  color: #fff;
}

.bx:hover {
  cursor: pointer;
  background: #00b207;
  color: #fff;
}

.bx:hover .active-media {
  background: #fff;
}

/* footer */

footer {
  background: #000;
}

.footer-data {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 60px 0 64px;
}
.footer-data-desc {
  max-width: 336px;
  margin-right: 112px;
}
/* .logo {
}
.header-logo {
}
.logo-title {
} */
.footer-logo-title {
  color: #ffffff;
}
.footer-data-desc-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #808080;
}
/* .othes-contacts {
} */
.go-contact {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
.mid-or {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #808080;
}
.links {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
}
/* .my-account {
} */
.link-heading {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #ffffff;
}
.link-block {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.link-block a {
  text-decoration: none;
  color: #999999;
}

.link-block a:hover {
  color: #fff;
}

/* .helps {
}
.proxy {
}
.categories {
} */
.secutiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.protection {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #808080;
}
/* .pay-methods {
} */
.pay-method-btn {
  background: none;
  border: none;
}

.pay-method-btn:hover {
  cursor: pointer;
}

.active-like {
  filter: brightness(0) saturate(100%) invert(32%) sepia(95%) saturate(6000%)
    hue-rotate(340deg) brightness(95%) contrast(105%);
  transform: scale(1.2);
}

.active-like img {
  transform: scale(1.2);
}

.active-like {
  transition: 0.2s;
}
