* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
}
.locatioan {
  display: flex;
  align-items: center;
  gap: 8px;
}

.locatioan-address {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #666666;
}

.top-right-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.valyute-language {
  display: flex;
  gap: 20px;
}

.valyute-language {
  border: none;
  background: none;
}

.valyute-language:focus {
  overflow: hidden;
}

.sign-link {
  color: #666666;
  text-decoration: none;
  font-weight: 700;
  transition: all 1.1s;
}

.sign-link:hover {
  cursor: pointer;
  color: #2c742f;
}

.top-bar-hr {
  height: 1px;
  color: grey;
}
/* search area */

.search-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-logo {
}
.logo-title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -3%;
  color: #002603;
}
.search-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coach {
  height: 24px;
}

.input {
  display: flex;
  align-items: center;
  border: 1px solid;
  height: 45px;
  width: 400px;
  padding: 12px;
  gap: 8px;
  border-radius: 6px 0 0 6px;
}
.search-icon {
}

.search-text-input {
  border: none;
  font-family: Poppins;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0%;
  color: #808080;
  width: 100%;
}
.search-text-input:focus {
  outline: none;
}

.search-btn {
  height: 45px;
  width: 98px;
  background: #00b207;
  color: #fff;
  border: none;
  border-radius: 0 6px 6px 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
}

.search-btn:hover {
  background: none;
  border: 0.5px solid grey;
  color: #00b207;
  cursor: pointer;
}

.card-favorites {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
}
.like-btn {
  background: none;
  border: none;
}

.like-btn:hover {
  cursor: pointer;
}

.card-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.card-link {
  position: relative;
}
.card-indicator {
  position: absolute;
  right: -5px;
  background: #2c742f;
  height: 18px;
  width: 18px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.card-description {
}
.card-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #4d4d4d;
}

.total-cart {
  font-family: Poppins;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1a1a1a;
}

/* menu bar */

.active {
  color: #fff;
}

.menu-bar {
  background: #000;
  width: 100%;
  color: #fff;
}

.menu-bar-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.menu-title {
  display: flex;
  gap: 32px;
}
.menu-sellector-style {
  background: none;
  color: #999999;
  border: none;
}

.menu-sellector-style:focus {
  overflow: hidden;
}

.about-us,
.contact-us {
  text-decoration: none;
  color: #999999;
}
.phone-num {
  display: flex;
  align-items: center;
  gap: 8px;
}
.phone-icon {
  height: 28px;
}
.copy-num {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.timer {
  display: flex;
  align-items: start;
  text-align: center;
}

/* hero section */

.hero {
  height: 400px;
  width: 100%;
  margin: 72px auto;
  padding: 68px 60px 97px;
  border: 1px solid;
  border-radius: 10px;
  background-image: url(../pictures/products/hero.jpg);
  background-position: center;
  background-size: cover;
}

.hero-desk {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.hero-desk-dates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.desk-title {
  color: #fff;
}
.desk-title-lable {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
}
.desk-title-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
}
.timer {
  display: flex;
  gap: 8px;
  color: #999999;
}
.days {
}
.time {
  color: #00b207;
}
.days-input {
}
.time-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}
.hours {
}
.hours-input {
}
.mins {
}
.mins-input {
}
.sec {
}
.sec-input {
}
.hero-desk-btn {
  margin-top: 32px;
  width: 162px;
  height: 45px;
  padding-top: 14px;
  padding-right: 32px;
  padding-bottom: 14px;
  padding-left: 32px;
  gap: 12px;
  opacity: 1;
  border-radius: 43px;
  background: #00b207;
  color: #fff;
  border: none;
}
